<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.my.mvpframe">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!--拍照-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.home.MainActivity"
            android:theme="@style/HomeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.DynamicEffectActivity" />
        <activity android:name=".customview.three_d_view.ThreeDViewActivity" />
        <activity android:name=".customview.BezierCurve.BezierCurveActivity" />
        <activity android:name=".customview.BezierView1.DeleteActivity" />
        <activity android:name=".customview.pic_roll.RollViewActivity" />
        <activity android:name=".customview.collsion.CollsionActivity" />
        <activity android:name=".customview.delete.ScrollDeleteActivity" />
        <activity android:name=".customview.breathview.BreathActivity" />
        <activity android:name=".customview.rollingtext.RollingTextAct" />
        <activity android:name=".customview.QQMessage.QQMessageActivity" />
        <activity android:name=".customview.qq_message.BigDemoActivity" />
        <activity android:name=".customview.qq_message.QQMessage1Activity" />
        <activity android:name=".customview.qq_message_1.DemoActivity" />
        <activity android:name=".customview.qq_message_2.QQMessage2Act" />
        <activity android:name=".customview.qq_message_3.TipsViewActivity" />
        <activity android:name=".customview.qq_message_4.QQMessage4Activity" />
        <activity android:name=".customview.jbox2d.Jbox2dtestActivity" />
        <activity android:name=".customview.recyclerView.ReActivity" />
        <activity android:name=".customview.s14.S14Activity" />
        <activity android:name=".ui.activity.NewEffectActivity" />
        <activity android:name=".customview.tablayout.TabActivity" />
        <activity android:name=".ui.activity.TestActivity" />
        <activity android:name=".ui.activity.ViewPagerActivity" />
        <activity android:name=".ui.activity.CardActivity" />
        <activity android:name=".ui.activity.CalculateActivity" />
        <activity android:name=".ui.activity.DragViewActivity" />
    </application>

</manifest>